module.exports = {
  apps: [
    {
      name: "MauMain",
      script: "./dist/bin/www.js",
      env: {
        NODE_ENV: "production",
        PORT: 80,
        DATABASE_URL: "",
        MONGODB_URI: "",
        DATABASE_NAME: "",
        DATABASE_NAME_TEST: "",
        JWT_SECRET: "",
        CLOUDINARY_SECRET: "",
        CLOUDINARY_NAME: "",
        CLOUDINARY_KEY: "",
      },
    },
  ],
};
